

.sidebar{
    width: 280px;
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    /* background-color: #fc0; */
    z-index: 9;
    margin-top: 90px;
}
.sidebar-menu{
    margin-top: 1rem;
}
.sidebar-menu li{
    width: 100%;
    padding-left: 2rem;
}

.sidebar-menu a{
    /* padding-left: 1rem; */
    padding: 10px;
    display: block;
    color: black;
    position: relative;
    margin: 20px 0px;
    /* font-size: 1.1rem; */
    /* background-color: red; */
}

.active{
    background: #00a2ff;
    /* padding: 10px 10px; */
    border-radius: 10px;
    color: #fff !important;
}

.sidebar-menu a span:first-child{
    /* background-color: #fc0; */
    /* padding-right: 1rem; */
    margin-right: 10px;
    /* background-color: blue; */
}
.sidebar-menu a span img{
    top: 50%;
    transform: translateY(-50%);
    position: absolute;
    display: block;
}
.text{
    /* background-color: #fc0; */
    font-size: 16px;
    top: 50%;
    left: 50px;
    transform: translateY(-50%);
    position: absolute;
}


header{
    display: flex;
    justify-content: space-between;
    padding: 1rem 1.5rem 1rem 0rem;
    position: fixed;
    background-color: #fff;
    /* left: 345px; */
    /* width: calc(100% - 345px); */
    width: 100%;
    top: 0;
    z-index: 20;
}


header .logo{
    /* background-color: #fc0; */
    padding: 20px 50px;
    display: flex;
    align-items: center;
    justify-content: left;
    /* background-color: #fc0; */
    position: absolute;
    top: 0;
}

header .title{
    /* position: sticky; */
    /* background-color: #fc0; */
    margin-left: 360px;
    padding: 5px;
} 

header .title h2{
    color: #00a2ff;
}
header label span{
    font-size: 1.7rem;
    padding-right: 1rem;
}

.search-wrapper1{
    padding: 20px;
    /* border: 1px solid rgb(145, 142, 142); */
    height: 40px;
    /* background-color: red; */
    display: flex;
    width: 300px;
    align-items: center;
    position: relative;
    /* left: 170px; */
    overflow: hidden;
    /* background: #f4f7fa; */
}


.search-wrapper1 span{
    display: inline-block;
    padding: 0rem 1rem;
    font-size: 1.5rem;
    /* background: #f4f7fa; */
}

.search-wrapper1 input{
    width: 100%;
    height: 100%;
    padding: .5rem;
    /* background: #f4f7fa; */
    border: none;
    /* background-color: #fc0; */
    outline: none;
}

.user-wrapper img{
    /* border-radius: 50%;
    margin: 0rem 2rem; */
}

.user-wrapper{
    display: flex;
    align-items: center;
}
.user-wrapper small{
    display: inline-block;
    color: var(--text-grey);
}
.user-wrapper a{
    cursor: pointer;
}

.user-profile{
    width: 45px;
    height: 45px;
    /* background-color: #fc0; */
    margin: 0rem 2rem;
    border-radius: 50%;
    overflow: hidden;
}
.user-profile img{
    box-sizing: border-box;
}
.search-wrapper{
    /* border: 1px solid rgb(145, 142, 142); */
    height: 40px;
    display: flex;
    align-items: center;
    overflow-x: hidden;
    background: #fc0;
}

.search-wrapper span{
    display: inline-block;
    padding: 0rem 1rem;
    font-size: 1.5rem;
    /* background: #f4f7fa; */
}
.search-wrapper input{
    height: 100%;
    padding: .5rem;
    /* background-color: red; */
    border: none;
    outline: none;
}

.modal-hide{
    /* opacity: 0; */
    display: none;
}
.modal-show{
    /* opacity: 1; */
    display: block;
}

.user-detail-modal{
    position: absolute;
    width: 250px;
    height: 290px;
    background-color: #fff;
    /* border-radius: 15px; */
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    box-shadow: 0px 2px 2px 1px #ddd;
    padding: 10px;
    top: 77px;
    right: 50px;
    /* opacity: 0; */
}

.user-modal-header{
    padding: 10px;
}
.user-detail-modal .user-modal-header > div{
    display: inline-block;
    height: 50px;
}
.user-detail-modal .user-modal-header div._image{
    float: left;
    width: 50px;
    border-radius: 50%;
    overflow: hidden;
    margin-top: 5px;
}
.user-detail-modal .user-modal-header div._image img{
    width: 100%;
    height: 100%;
}
.user-detail-modal .user-modal-header div._details{
    /* float: right; */
    margin: 0px 0px 0px 20px;
}
.user-detail-modal .user-modal-header div._details span{
    font-size: smaller;
    color: #b6bcc3;
}
.clearfix{
    clear: both;
}

.user-detail-modal .list-items{
    padding: 10px;
}
.user-detail-modal .list-items ul{
    width: 100%;
    margin: 20px 0px;
}
.user-detail-modal .list-items ul li{
    list-style: none;
    margin: 30px 0px;
}
.user-detail-modal .list-items ul li a{
    text-decoration: none;
    color: #d5ceca;
    cursor: pointer;
}
.user-detail-modal .list-items ul li > div{
}
.user-detail-modal .list-items ul li div._icon{
    width: 20px;
    height: 20px;
    position: relative;
    float: left;
}
.user-detail-modal .list-items ul li div._icon img{
    width: 100%;
    height: 100%;
}
.user-detail-modal .list-items ul li div._item_name{
    /* float: right; */
    font-size: medium;
    font-weight: 500;
    margin: 0px 35px;
}






/* MODAL */


.settings{}

.settings-background{
    position: fixed;
    background-color: #000;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0px;
    z-index: 105;
    opacity: .4;
}

.close{ 
    position: fixed;
    background-color: #000;
    width: 100%;
    height: 100%;
    display: none;
    transition: 1s;
    left: 0;
    top: 0px;
    z-index: 105;
    opacity: .4;
}

.settings-panel{
    background-color: #fff;
    width: 390px;
    position: fixed;
    height: 100%;
    right: 0;
    top: 0;
    z-index: 110;
    padding: 10px 20px;
    transition: .4s;
}
.hided{
    background-color: #fff;
    width: 390px;
    position: fixed;
    height: 100%;
    transition: 1s;
    right: -100%;
    top: 0;
    z-index: 110;
    padding: 10px 20px;
}
.panel-header{
    padding: 20px 0px;
    font-weight: bolder;
    font-size: larger;
    /* background-color: #fc0; */
}
.panel-header span{
    float: right;
}
.panel-header span a{
    font-weight: bolder;
    font-size: larger;
    cursor: pointer;
    color: #bbb;
}
.panel-banner{
    position: relative;
}
.panel-img{ 
    position: inherit;
    width: 100%;
    height: 180px;
    margin: 10px 0px;
    border-radius: 10px;
    overflow: hidden;
}
.panel-img img{
    width: 100%;
    height: 100%;
}

.panel-body{
    margin: 50px 0px;
}
.theme-mode{}
.theme-mode .title{
    padding: 15px 0px;
}
.theme-mode title input{}

.bar-mode{
    margin: 30px 0px;
}
.bar-mode .title{
    padding: 15px 0px;
}
.bar-mode title input{}

.button{
    margin: 50px 0px;
    /* background-color: #fc0; */
    text-align: center;
}
.button button{
    background-color: #2196F3;
    padding: 10px 40px;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}




/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 48px;
    height: 29px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: 1px solid #ccc;
    background-color: #fff;
    -webkit-transition: .4s;
    transition: .4s;
    padding: 2.5px 6px;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 18px;
    width: 18px;
    bottom: 50%;
    transform: translateY(50%);
    border: 1px solid #ccc;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translate(16px, 10px);
    -ms-transform: translate(16px, 10px);
    transform: translate(16px, 10px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

