
<div class="sidebar">

  <div class="logo">
    <img width="80%" src="assets/Logotipo/logotipo.svg" alt="">
  </div>
  <div class="sidebar-menu">
      <ul>
        <li>
          <a routerLink="/admin/dashboard" routerLinkActive="active">
            <span class="">
              <img width="23" src="../../../assets/Icons/3 User.svg" alt="">
            </span>
          <span class="text">Dashboard</span></a>
        </li>
        <li>
          <a routerLink="/admin/imoveis" routerLinkActive="active">
            <span class="">
              <img width="23" src="../../../assets/Icons/Activity.svg" alt="">
            </span>
          <span class="text">Imoveis</span></a>
        </li>
        <li>
          <a routerLink="/admin/proprietarios" routerLinkActive="active">
            <span class="">
              <img width="23" src="../../../assets/Icons/3 User.svg" alt="">
            </span>
            <span class="text">Proprietarios</span>
          </a>
        </li>
        <li>
          <a routerLink="/admin/solicitacoes" routerLinkActive="active">
            <span class="">
              <img width="23" src="../../../assets/Icons/Paper.svg" alt="">
            </span>
          <span class="text">Solicitações</span></a>
        </li>
        <li>
          <a routerLink="/admin/usuarios" routerLinkActive="active">
            <span class="">
              <img width="23" src="../../../assets/Icons/3 User.svg" alt="">
            </span>
          <span class="text">Usuários</span></a>
        </li>
        <li>
          <a routerLink="/admin/definicoes" routerLinkActive="active">
            <span class="">
              <img width="23" src="../../../assets/Icons/Setting.svg" alt="">
            </span>
          <span class="text">Definições</span></a>
        </li>
      </ul>
    </div>
</div>
<header>
  <h2>
    {{title}}
  </h2>

  <div class="search-wrapper1">
    <span class="">
      <img width="17" src="../../../assets/Icons/icone-pesquisa.svg" alt="">
    </span>
    <input type="search" placeholder="Pesquisar no Dashboard">
  </div>

  <div class="user-wrapper">
    
    <img src="assets/Icons/Grupo 12.svg" width="20px" alt="" style="cursor: pointer;">
    <img src="assets/Icons/Grupo 350.svg" width="40px" alt="" style="cursor: pointer;">
  
  </div>
</header>