<link rel="stylesheet" href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css">


<div class="sidebar">
  
<div class="logo">
  <img width="80%" src="assets/Logotipo/logotipo.svg" alt="">
</div>
 <div class="sidebar-menu">
    <ul>
      <li>
        <a href=""><span class="las la-igloo"></span>
        <span>Dashboard</span></a>
        
      </li>
      <li>
        <a href="" class="active"><span><img src="../../../assets/Icons/Activity.svg" alt=""></span>
        <span>Imoveis</span></a>
      </li>
      <li>
        <a href=""><span><img src="../../../assets/Icons/3 User.svg" alt=""></span>
        <span>Proprietarios</span></a>
      </li>
      <li>
        <a href=""><span class="las la-igloo"></span>
        <span>Solicitações</span></a>
      </li>
      <li>
        <a href=""><span><img src="../../../assets/Icons/2 User.svg" alt=""></span>
        <span>Usuários</span></a>
      </li>
      <li>
        <a href=""><span><img src="../../../assets/Icons/Setting.svg" alt=""></span>
        <span>Definições</span></a>
      </li>
    </ul>
  </div>
</div>
