
<div class="sidebar">
 <div class="sidebar-menu">
    <ul>
      <li>
        <a href=""><span class="las la-igloo"></span>
        <span>Dashboard</span></a>
        
      </li>
      <li>
        <a href="" class="active"><span class="las la-igloo"></span>
        <span>Imoveis</span></a>
      </li>
      <li>
        <a href=""><span class="las la-igloo"></span>
        <span>Proprietarios</span></a>
      </li>
      <li>
        <a href=""><span class="las la-igloo"></span>
        <span>Solicitações</span></a>
      </li>
      <li>
        <a href=""><span class="las la-users"></span>
        <span>Usuários</span></a>
      </li>
      <li>
        <a href=""><span class="las la-tools"></span>
        <span>Definições</span></a>
      </li>
    </ul>
  </div>
</div>
