
    <div class="recent-grid">
        <div class="projects">
          <div class="card">
            <div class="card-header">
              <div class="search-wrapper">
                <span class="">
                  <img width="17" src="../../../assets/Icons/icone-pesquisa.svg" alt="">
                </span>
                <input type="search" placeholder="Pesquisar proprietários">
              </div>
                
                <!-- <input type="submit" class="btn" style="cursor: pointer;" value="Exportar"> -->
                
            </div>
  
            <div class="card-body">
              <table style="width: 100%;"> 
                <thead>
                  <tr>
                    <td><input type="checkbox" name="" id=""></td>
                    <td>Proprietário</td>
                    <td>Agência</td>
                    <td>Imóvel</td>
                    <td>Data de Adesão</td>
                  </tr>
                </thead>
                <tbody>

                  <tr>
                    <td><input type="checkbox" name="" id=""></td>
                    <td class="user-detail">
                      <div class="img">
                        <img src="../../../assets/Imagens/proprietarios/table-img.jpg" alt="">
                      </div>
                      <div class="text">
                        Isaquias Sebastião Marques
                        <br>
                        <span>patisaquias2000@gmail.com</span>
                      </div>
                      <div class="clearfix"></div>
                    </td>
                    <td>Empresa</td>
                    <td>2021</td>
                    <td>02 / 09 / 2021</td>
                  </tr>
                  <tr>
                    <td><input type="checkbox" name="" id=""></td>
                    <td class="user-detail">
                      <div class="img">
                        <img src="../../../assets/Imagens/proprietarios/table-img.jpg" alt="">
                      </div>
                      <div class="text">
                        Isaquias Sebastião Marques
                        <br>
                        <span>patisaquias2000@gmail.com</span>
                      </div>
                      <div class="clearfix"></div>
                    </td>
                    <td>Empresa</td>
                    <td>2021</td>
                    <td>02 / 09 / 2021</td>
                  </tr>
                  <tr>
                    <td><input type="checkbox" name="" id=""></td>
                    <td class="user-detail">
                      <div class="img">
                        <img src="../../../assets/Imagens/proprietarios/table-img.jpg" alt="">
                      </div>
                      <div class="text">
                        Isaquias Sebastião Marques
                        <br>
                        <span>patisaquias2000@gmail.com</span>
                      </div>
                      <div class="clearfix"></div>
                    </td>
                    <td>Empresa</td>
                    <td>2021</td>
                    <td>02 / 09 / 2021</td>
                  </tr>

                </tbody>
              </table>
            </div>
          </div>
  
        </div>
  
  
      </div>