<div class="panel">
    <div class="panel-header">
        <div class="logotype">
            <img width="40%" src="assets/Logotipo/logotipo.svg" alt="">
        </div>
    </div>
    <div class="panel-title">
       <h1> Criar conta </h1>
    </div>
    <div class="form">
        <form action="">
            <div class="input">
                <div class="label"><label for="">Digite o seu nome completo</label></div>
                <div><input type="text" name="" id=""></div>
            </div>
            <div class="input">
                <div class="label"><label for="">Digite o seu e-mail</label></div>
                <div><input type="email" name="" id=""></div>
            </div>
            <div class="input">
                <div class="label">
                    <label for="">Digite a sua senha</label>
                </div>
                <div><input type="password" name="" id=""></div>
            </div>
            <div class="input">
                <div class="label">
                    <label for="">Confirmar senha</label>
                </div>
                <div><input type="password" name="" id=""></div>
            </div>
            <div class="checkbox">
                <input type="checkbox" id="check"> <label for="check"> Aceito todos os <a routerLink="/login">Termos e Condições</a></label>
            </div>
            <div class="submit">
                <input type="submit" value="Criar conta">
            </div>
        </form>
        <div class="navigation">
            <span>Já tem uma conta? <a routerLink="/login">Entrar</a></span>
        </div>
    </div>
</div>