<div class="content">
    <div class="title">
        <h2>Estado actual de Usuários</h2>
    </div>
    <div class="chart">
        <div class="chart-image">
            <!-- <img src="assets/Imagens/proprietarios/table-img.jpg" alt=""> -->
            <img src="assets/Icons/user-status.svg" alt="">
            <!-- <div class="count">
                <h4 class="green-description">85%</h4>
            </div> -->
        </div>
    </div>
    <div class="description">
        <ul>
            <li>Online</li>
            <li>Offline</li>
            <li>Processando</li>
        </ul>
    </div>
</div>