<div class="block">
    <div class="content">
        <div class="left-text">
            <div class="title">
                <h4>Total de Usuários</h4>
            </div>
            <div class="paragraph">
                Desde o mês passado <span class="red">7,5%</span>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="chart-graph">
            <div class="chart-img">
                <img src="assets/Imagens/proprietarios/table-img.jpg" alt="">
            </div>
        </div>
    </div>
</div>

<div class="block">
    <div class="content">
        <div class="left-text">
            <div class="title">
                <h4>Total de Imóveis</h4>
            </div>
            <div class="paragraph">
                Desde o mês passado <span class="orange">7,5%</span>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="chart-graph">
            <div class="chart-img">
                <img src="assets/Imagens/proprietarios/table-img.jpg" alt="">
            </div>
        </div>
    </div>
</div>

<div class="block">
    <div class="content">
        <div class="left-text">
            <div class="title">
                <h4>Total de Proprietários</h4>
            </div>
            <div class="paragraph">
                Desde o mês passado <span class="purple">7,5%</span>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="chart-graph">
            <div class="chart-img">
                <img src="assets/Imagens/proprietarios/table-img.jpg" alt="">
            </div>
        </div>
    </div>
</div>

<div class="block">
    <div class="content">
        <div class="left-text">
            <div class="title">
                <h4>Total de Solicitações</h4>
            </div>
            <div class="paragraph">
                Desde o mês passado <span class="blue">7,5%</span>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="chart-graph">
            <div class="chart-img">
                <img src="assets/Imagens/proprietarios/table-img.jpg" alt="">
            </div>
        </div>
    </div>
</div>