<div class="panel">
    <div class="panel-header">
        <div class="logotype">
            <img width="40%" src="../../../assets/Logotipo/logotipo.svg" alt="">
        </div>
    </div>
    <div class="panel-title">
       <h1> Esqueceu a Senha? </h1>
    </div>
    <div class="paragraph">
        <p> Utilize o endereço de e-mail que inseriu na criação da conta. Será enviado um código para redefinição da senha. </p>
    </div>
    <div class="form">
        <form action="">
            <div class="input">
                <div class="label"><label for="">Digite o seu e-mail</label></div>
                <div><input type="email" name="" id=""></div>
            </div>
            <div class="submit">
                <input type="submit" value="Enviar">
            </div>
        </form>
        <div class="navigation">
            <span><a routerLink="/login">< Cancelar</a></span>
        </div>
    </div>
</div>