<div class="panel">
    <div class="panel-header">
        <div class="logotype">
            <img width="40%" src="assets/Logotipo/logotipo.svg" alt="">
        </div>
    </div>
    <div class="panel-title">
       <h1> Verifique o seu e-mail </h1>
    </div>
    <div class="paragraph">
        <p> Enviamos um link para o seu endereço de e-mail: <br> <span>patisaquias2000@gmail.com</span> </p>
    </div>
    <div class="form">
        <form action="">
            <div class="submit">
                <input type="submit" value="Continuar a verificação">
            </div>
        </form>
        <div class="navigation">
            <span>Não recebi e-mail. <a routerLink="">Reenviar</a></span>
        </div>
    </div>
</div>