<div class="panel">
    
    <div class="first-block">
        <div class="img-profile">
            <img src="assets/Imagens/solicitacoes/image.jpg" alt="">
        </div>
        <div class="details">
            <div class="title-details">
                <h2>{{userFirstName}} {{userLastName}}</h2>
            </div>
            <div class="paragraph">
                <p>{{userEmail}}</p>
            </div>
        </div>
    </div>
    <div class="second-block">

        <div class="blocks">

            <div>
                <div class="block">
                    <div class="head"><h3>Nome</h3></div>
                    <div class="body">{{userFirstName}} {{userLastName}}</div>
                </div>
                <div class="block">
                    <div class="head"><h3>Telefone</h3></div>
                    <div class="body">{{userPhone}}</div>
                </div>
                <div class="block">
                    <div class="head"><h3>Localização</h3></div>
                    <div class="body">{{userLocation}}</div>
                </div>
            </div>

        </div>
        <div class="blocks">

            <div>
                <div class="block">
                    <div class="head"><h3>Agência</h3></div>
                    <div class="body">{{userAgency}}</div>
                </div>
                <div class="block">
                    <div class="head"><h3>Nº de Imóveis</h3></div>
                    <div class="body">430</div>
                </div>
                <div class="block">
                    <div class="head"><h3>Data de Adesão</h3></div>
                    <div class="body">{{userCreatedAt}}</div>
                </div>
            </div>

        </div>

    </div>
    <div class="edit-button">
        <button (click)="edit()" ><fa-icon [icon] = "faEditIcon"></fa-icon> Editar perfil</button>
    </div>
    
</div>

