<div class="panel">
    
    <app-user-myaccount-header></app-user-myaccount-header>
    <div class="second-block">

        <div class="blocks">

            <div>
                <div class="block">
                    <div class="head"><h3>Nome</h3></div>
                    <div class="body">Isaquias MArques</div>
                </div>
                <div class="block">
                    <div class="head"><h3>Telefone</h3></div>
                    <div class="body">+244 - 999 999 999</div>
                </div>
                <div class="block">
                    <div class="head"><h3>Localização</h3></div>
                    <div class="body">Luanda - Cazenga</div>
                </div>
            </div>

        </div>
        <div class="blocks">

            <div>
                <div class="block">
                    <div class="head"><h3>Agência</h3></div>
                    <div class="body">IsaquiaSebastião</div>
                </div>
                <div class="block">
                    <div class="head"><h3>Nº de Imóveis</h3></div>
                    <div class="body">430</div>
                </div>
                <div class="block">
                    <div class="head"><h3>Data de Adesão</h3></div>
                    <div class="body">02/02/2022</div>
                </div>
            </div>

        </div>

    </div>
    <div class="edit-button">
        <button (click)="edit()" ><fa-icon [icon] = "faEditIcon"></fa-icon> Editar perfil</button>
    </div>
    
</div>

