<div class="main-content">
    <header>
      <h2>
        Imóveis
      </h2>

      <div class="search-wrapper1">
        <span class="las la-search"></span>
        <input type="search" placeholder="Pesquisar aqui">
      </div>

      <div class="user-wrapper">
        
        <img src="../assets/Icons/Grupo 12.svg" alt="" style="cursor: pointer;">
        <img src="../assets/Icons/Grupo 350.svg" width="40px" height="40px" alt="" style="cursor: pointer;">
      
    </div>
    </header>

    <main>
      <div class="cards">

        <div class="card-single">
          <div>
            <span>Total de Imóveis</span>
            <h3>642.8738</h3>
          </div>
        </div>
      </div>

      <div class="recent-grid">
        <div class="projects">
          <div class="card">
            <div class="card-header">
              <div class="search-wrapper">
                <span class="las la-search"></span>
                <input type="search" placeholder="Pesquisar aqui">
              </div>
                
                <input type="submit" class="btn" style="cursor: pointer;" value="Exportar">
               
            </div>

            <div class="card-body">
              <table style="width: 100%;">
                <thead>
                  <tr>
                    <td>Imóvel</td>
                    <td>Categória</td>
                    <td>Data de adesão</td>
                    <td>Preço</td>
                    <td>Quantidade</td>
                    <td>Estado</td>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>
                      
                      Me Design.AO
                      <br>
                      <img src="../assets/Icons/Estrelinhas.svg" alt="">
                    </td>
                    <td>Empresa</td>
                    <td>02 / 09 / 2021</td>
                    <td>12.000 Kz</td>
                    <td>543</td>
                    <td>
                      <span class="status verde"></span>
                      Disponivel
                    </td>
                  </tr>
                  <tr>
                    <td>
                      Apartamento T4
                      <br>
                      <img src="../assets/Icons/Estrelinhas.svg" alt="">
                    </td>
                    <td>Vivenda</td>
                    <td>16 / 02 / 2021</td>
                    <td>12.000 Kz</td>
                    <td>543</td>
                    <td>
                      <span class="status vermelho"></span>
                      Indisponível
                    </td>
                  </tr>
                  <tr>
                    <td>
                      Mesa de 5 cadeiras
                      <br>
                      <img src="../assets/Icons/Estrelinhas.svg" alt="">
                    </td>
                    <td>Madeira</td>
                    <td>27 / 08 / 2021</td>
                    <td>12.000 Kz</td>
                    <td>543</td>
                    <td>
                      <span class="status orange"></span>
                      Disponivel
                    </td>
                  </tr>
                </tbody>
              </table>
              <div class="card-body">
                <div class="table-responsive">
                    
                </div>
              </div>
            </div>
          </div>

        </div>


      </div>

    </main>
  </div>
