
    <div class="recent-grid">
      <div class="projects">
        <div class="card">
          <div class="card-header">
            <div class="search-wrapper">
              <span class="">
                <img width="17" src="assets/Icons/icone-pesquisa.svg" alt="">
              </span>
              <input type="search" placeholder="Pesquisar aqui">
            </div>
              
              <!-- <input type="submit" class="btn" style="cursor: pointer;" value="Exportar"> -->
              
          </div>

          <div class="card-body">
            <table style="width: 100%;">
              <thead>
                <tr>
                  <td><input type="checkbox" name="" id=""></td>
                  <td>Imóvel</td>
                  <td>Categória</td>
                  <td>Data de adesão</td>
                  <td>Preço</td>
                  <td>Quantidade</td>
                  <td>Estado</td>
                </tr>
              </thead>
              <tbody>

                <tr>
                  <td><input type="checkbox" name="" id=""></td>
                  <td class="user-detail">
                      <div class="img">
                        <img src="assets/Imagens/proprietarios/table-img.jpg" alt="">
                      </div>
                      <div class="text">
                        Me Design. AO
                        <br>
                        <!-- <span>pati@pati</span> -->
                        <img src="assets/Icons/Estrelinhas.svg" alt="">
                      </div>
                      <div class="clearfix"></div>
                  </td>
                  <td>Empresa</td>
                  <td>02 / 09 / 2021</td>
                  <td>12.000 Kz</td>
                  <td>543</td>
                  <td>
                    <span class="status verde"></span>
                    Disponivel
                  </td>
                </tr>
                <tr>
                  <!-- <td>
                    
                    Me Design.AO
                    <br>
                    <img src="assets/Icons/Estrelinhas.svg" alt="">
                  </td> -->
                  <td><input type="checkbox" name="" id=""></td>
                  <td class="user-detail">
                      <div class="img">
                        <img src="assets/Imagens/proprietarios/table-img.jpg" alt="">
                      </div>
                      <div class="text">
                        Apartamento T4
                        <br>
                        <!-- <span>pati@pati</span> -->
                        <img src="assets/Icons/Estrelinhas.svg" alt="">
                      </div>
                      <div class="clearfix"></div>
                  </td>
                  <td>Vivenda</td>
                  <td>16 / 02 / 2021</td>
                  <td>12.000 Kz</td>
                  <td>543</td>
                  <td>
                    <span class="status vermelho"></span>
                    Indisponível
                  </td>
                </tr>
                <tr>
                  <!-- <td>
                    
                    Me Design.AO
                    <br>
                    <img src="assets/Icons/Estrelinhas.svg" alt="">
                  </td> -->
                  <td><input type="checkbox" name="" id=""></td>
                  <td class="user-detail">
                      <div class="img">
                        <img src="assets/Imagens/proprietarios/table-img.jpg" alt="">
                      </div>
                      <div class="text">
                        Mesa de 5 Cdeiras
                        <br>
                        <!-- <span>pati@pati</span> -->
                        <img src="assets/Icons/Estrelinhas.svg" alt="">
                      </div>
                      <div class="clearfix"></div>
                  </td>
                  <td>Ferro Neutro</td>
                  <td>02 / 09 / 2021</td>
                  <td>12.000 Kz</td>
                  <td>543</td>
                  <td>
                    <span class="status verde"></span>
                    Disponivel
                  </td>
                </tr>

              </tbody>
            </table>
            <div class="card-body">
              <div class="table-responsive">
                  
              </div>
            </div>
          </div>
        </div>

      </div>


    </div>