<!-- <a routerLink="login">Login</a><br>
<a routerLink="register">register</a> -->

<router-outlet></router-outlet> 
<nav>
    <ul>
        <li><a routerLink="/login" routerLinkActive="active">Entrar</a></li>
        <li><a routerLink="/recover" routerLinkActive="active">Recuperar Senha</a></li>
        <li><a routerLink="/verification" routerLinkActive="active">Verificação de Email</a></li>
        <li><a routerLink="/code" routerLinkActive="active">Código de acesso</a></li>
        <li><a routerLink="/imoveis" routerLinkActive="active">Imóveis ADMIN</a></li>
    </ul>
</nav>