div.panel{
    /* background-color: aquamarine; */
    width: 550px;
    position: relative;
    margin: 5% auto;
    /* margin-top: 5%; */
    padding: 20px;
    box-shadow: 0px 2px 15px #ddd;
}
div.panel-header{
    padding: 10px;
}
div.panel-header div.logotype{
    position: relative;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
div.panel div.panel-title{
    font-size: large;
    text-align: center;
    padding: 15px 0px
}
div.panel div.panel-title h1{
    font-family: var(--font-family-Poppins-M);
}
div.panel div.paragraph{
    margin: 15px 0px;
}
div.panel div.paragraph p{
    font-size: small;
    text-align: center;
    font-family: var(--font-family-Poppins-L);
}
div.panel div.form label, span, a{
    font-family: var(--font-family-Poppins-M);
    font-size: small;
}
/* form{
    padding: 0px 0px;
} */
form div.input{
    margin: 30px 0px;
    width: 100%;
}
form div.input div > input{
    padding: 15px;
    width: 100%;
    border: 1px solid #eee;
    outline: none;
    border-radius: 3px;
}
form div.input > div{
    /* margin: 10px 0px; */
    width: 105px;
    display: inline-block;
    margin: 0px 10px;
}
form div.input > div:nth-child(2),
form div.input > div:nth-child(3){
    /* margin: 0px 20px; */


}
div.submit{
    width: 100%;
    margin: 25px 0px 10px 0px;
}
div.submit input{
    width: 100%;
    color: #fff;
    border: none;
    padding: 15px;
    background-color: #2499ff;
    cursor: pointer;
    border-radius: 3px;
}
div.navigation{
    text-align: center;
    margin: 30px 0px;
}
div.navigation span{}
div.navigation span a{
    text-decoration: none;
    color: #2499ff;
}