<div class="content">
    <div class="title">
        <h3>Solicitações Recentes</h3>
        <ul>
            <li>
                <a href=""><</a>
                <a href="">></a>
            </li>
        </ul>
    </div>
    <div class="request-image">
        <img src="assets/Imagens/solicitacoes/image.jpg" alt="">
    </div>
    <div class="details-of-user">
        <h4>Isaquias Sebastião</h4>
        <p>Pati Marques <span></span></p>
        <span><fa-icon [icon]="star"></fa-icon> 4.0</span>
    </div>
    <div class="description">
        <p>
            Etiam ultricies nisi vel augue. Curabitur ullamcorpe iam ultricies nisi vel
            auguEtiamultricies nisi vel augue.
        </p><br>
        <span class="price">30 000 000,00 KZ</span>
    </div>
    <div class="button">
        <button>Ver solicitação</button>
    </div>
</div>