div.panel{
    /* background-color: aquamarine; */
    width: 45%;
    position: relative;
    margin: 0px auto;
    margin-top: 10%;
    padding: 20px;
    box-shadow: 0px 2px 15px #ccc;
}
div.panel-header{
    padding: 10px;
}
div.panel-header div.logotype{
    position: relative;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
div.panel div.panel-title{
    font-size: large;
    text-align: center;
    padding: 25px 0px;
}
div.panel div.form label, span, a{
    font-family: var(--font-family-Poppins-M);
    font-size: small;
}
form{
    padding: 20px 0px;
}
form{}
form div.input div.label{
    margin: 10px 0px;
}
form div.input div > input{
    padding: 15px;
    width: 100%;
    border: 1px solid #ccc;
    outline: none;
}
form div.input div.label span a{
    float: right;
    color: #bbb;
    text-decoration: none;
}