<div class="panel">
    <div class="panel-header">
        <div class="logotype">
            <img width="40%" src="assets/Logotipo/logotipo.svg" alt="Logotipo">
        </div>
    </div>
    <div class="panel-title">
       <h1> Entrar </h1>
    </div>
    <div class="form">
        <form action="">
            <div class="input">
                <div class="label"><label for="">Número de Telemóvel ou E-mail</label></div>
                <div><input type="text" name="" id=""></div>
            </div>
            <div class="input">
                <div class="label">
                    <label for="">Palavra-passe</label>
                    <span><a routerLink="/recover">Esqueceu a Senha?</a></span>
                </div>
                <div><input type="password" name="" id=""></div>
            </div>
            <div class="checkbox">
                <input type="checkbox" id="check"> <label for="check"> Recordar-me</label>
            </div>
            <div class="submit">
                <input type="button" routerLink="/admin" value="Entrar na conta">
            </div>
        </form>
    </div>
</div>
