<div class="panel">
    <div class="panel-header">
        <div class="logotype">
            <img width="40%" src="assets/Logotipo/logotipo.svg" alt="Logotipo">
        </div>
    </div>
    <div class="panel-title">
       <h1> Entrar </h1>
    </div>
    <div class="form">
        <form action="" [formGroup]="form" (submit)="submit()">
            <div class="input">
                <div class="label"><label for="">E-mail</label></div>
                <div><input type="email" formControlName="email" name="email" required></div>
                <div *ngIf="form.get('email').invalid && form.get('email').touched">
                    <label style="color: #f33;font-size: x-small;" for="">Email inválido</label>
                </div>
            </div>
            <div class="input">
                <div class="label">
                    <label for="">Palavra-passe</label>
                    <span><a routerLink="/recover">Esqueceu a Senha?</a></span>
                </div>
                <div><input type="password" formControlName="password" name="password" required></div>
                <div *ngIf="form.get('password').invalid && form.get('password').touched">
                    <label style="color: #f33;font-size: x-small;" for="">Senha obigatória</label>
                </div>
            </div>
            <div>
                <div class="panelMessages" *ngIf="errors">
                <span>{{errors}}</span>
            </div>
            </div>
            <div class="checkbox">
                <input type="checkbox" id="check"> <label for="check"> Recordar-me</label>
            </div>
            <div class="submit">
                <button [disabled]="form.invalid" type="submit">Entrar na conta</button>
            </div>
        </form>
    </div>
</div>
