<div class="panel">
    
    <form>
        <app-user-myaccount-header></app-user-myaccount-header>
        <div>
            <div class="label">
                <label for="nome">Nome completo</label>
            </div>
            <div class="input primeiro">
                <input type="text" name="nome" id="nome">
            </div>
            <div class="input ultimo">
                <input type="text" name="nome" id="nome">
            </div>
        </div>
        <div>
            <div class="label">
                <label for="email">Email</label>
            </div>
            <div class="input">
                <input type="email" name="email" id="email">
            </div>
        </div>
        <div>
            <div class="label">
                <label for="telefone">Telefone</label>
            </div>
            <div class="input">
                <input type="tel" name="telefone" id="telefone">
            </div>
        </div>
        <div>
            <div class="label">
                <label for="agencia">Agência</label>
            </div>
            <div class="input">
                <input type="text" name="agencia" id="agencia">
            </div>
        </div>
        <div>
            <div class="label">
                <label for="localizacao">Localização</label>
            </div>
            <div class="input">
                <input type="text" name="localizacao" id="localizacao">
            </div>
        </div>
        <div class="edit-button">
            <button type="submit">Salvar alterações</button>
        </div>

    </form>
    
</div>