*{
    font-weight: 100;
}
div.panel{
    /* background-color: aquamarine; */
    width: 70%;
    position: relative;
    margin: 50px auto;
    /* margin-top: 5%; */
    padding: 30px;
    box-shadow: 0px 2px 15px #ddd;
    border-radius: 15px;
    z-index: 16;
    box-sizing: border-box;
}


.img-profile{
    width: 120px;
    height: 120px;
    position: relative;
    margin: 10px auto;
    border-radius: 50%;
    overflow: hidden;
    border: 2px solid #fff;
    box-shadow: 0px 5px 15px #ddd;
    display: flex;
    align-items: center;
    justify-content: center;
}
.img-profile img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
.details{
    text-align: center;
    margin: 0px 0px;
}
.details .title-details{
    padding: 10px;
}
.details .title-details h2{
    font-weight: 100;
}
.details .paragraph{
    padding: 0px;
}
.details .paragraph p{
    font-weight: 100;
    font-size: small;
    color: #aaa;
}


.title{
    margin: 70px 0px;
}
form{
    padding: 20px;
}
.form-row{
    margin: 35px 0px;
}
.label{
    padding: 10px 15px;
}
.form-control{
    padding: 10px 15px;
}
.form-control:focus{
    box-shadow: none;
}
.edit-button{
    text-align: center;
    margin: 30px 0px;
}
.edit-button button{
    border: 1px solid #bbb;
    color: #bbb;
    background-color: #fff;
    padding: 10px 40px;
    cursor: pointer;
    border-radius: 5px;
}

