<div class="settings">
    <div class="settings-background" [ngClass]="hide == true ? 'close': 'apear'"></div>
    <div class="settings-panel" [ngClass]="hide == true ? 'hided': 'non-hided'">
      <div class="panel-header">
          Definições
          <span><a (click)="fadeOut()">&#10006;</a></span>
      </div>
      <div class="panel-banner">
          <div class="panel-img">
              <img src="assets/Imagens/settings/bnr.jpg" alt="">
          </div>
      </div>
      <div class="panel-body">
        <div class="theme-mode">
            <div class="title">
                <h4>Trocar para o modo escuro</h4>
            </div>
            <div class="input">
                <label class="switch">
                    <input type="checkbox">
                    <span class="slider round"></span>
                </label>
            </div>
        </div>

        <div class="bar-mode">
            <div class="title">
                <h4>Trocar barra lateral para Ralável</h4>
            </div>
            <div class="input">
              <label class="switch">
                  <input type="checkbox" checked>
                  <span class="slider round"></span>
              </label>
            </div>
        </div>
        <div class="button">
            <button>
                Definições Padrão
            </button>
        </div>
      </div>
    </div>
  </div>