
    <div class="recent-grid">
        <div class="projects">
          <div class="card">
            <div class="card-header">
              <div class="search-wrapper">
                <span class="">
                  <img width="17" src="assets/Icons/icone-pesquisa.svg" alt="">
                </span>
                <input type="search" placeholder="Pesquisar proprietários">
              </div>
                
            </div>
  
            <div class="card-body">
              <table style="width: 100%;">
                <thead>
                  <tr>
                    <td><input type="checkbox" name="" id=""></td>
                    <td>Nome</td>
                    <td>Telefone</td>
                    <td>Data de adesão</td>
                    <td>Localização</td>
                    <td>Estado</td>
                  </tr>
                </thead>
                <tbody>

                  <tr>
                    <td><input type="checkbox" name="" id=""></td>
                    <td class="user-detail">
                      <div class="img">
                        <img src="assets/Imagens/proprietarios/table-img.jpg" alt="">
                      </div>
                      <div class="text">
                        Otiniel de Sousa
                        <br>
                        <span>patisaquias2000@gmail.com</span>
                      </div>
                      <div class="clearfix"></div>
                    </td>
                    <td>+244 972356382</td>
                    <td>02/09/2021</td>
                    <td>Luanda</td>
                    <td>
                        <span class="status verde"></span>
                        Online
                      </td>
                  </tr>

                  <tr>
                    <td><input type="checkbox" name="" id=""></td>
                    <td class="user-detail">
                      <div class="img">
                        <img src="assets/Imagens/proprietarios/table-img.jpg" alt="">
                      </div>
                      <div class="text">
                        Otiniel de Sousa
                        <br>
                        <span>patisaquias2000@gmail.com</span>
                      </div>
                      <div class="clearfix"></div>
                    </td>
                    <td>+244 972356382</td>
                    <td>02/09/2021</td>
                    <td>Luanda</td>
                    <td>
                        <span class="status verde"></span>
                        Online
                      </td>
                  </tr>

                  <tr>
                    <td><input type="checkbox" name="" id=""></td>
                    <td class="user-detail">
                      <div class="img">
                        <img src="assets/Imagens/proprietarios/table-img.jpg" alt="">
                      </div>
                      <div class="text">
                        Otiniel de Sousa
                        <br>
                        <span>patisaquias2000@gmail.com</span>
                      </div>
                      <div class="clearfix"></div>
                    </td>
                    <td>+244 972356382</td>
                    <td>02/09/2021</td>
                    <td>Luanda</td>
                    <td>
                        <span class="status verde"></span>
                        Online
                      </td>
                  </tr>


                </tbody>
              </table>
            </div>
          </div>
  
        </div>
  
  
      </div>