<app-header></app-header>
<div class="body-first-content">
    <div class="charts">
        <div class="four-blocks">
            <app-blocks></app-blocks>
        </div>
        <div class="user-status">
            <app-user-status></app-user-status>
        </div>
    </div>
    <div class="recent-requests">
        <app-recent-requests></app-recent-requests>
    </div>
    <section class="clearfix"></section>
</div>
<!-- <div class="body-last-content">
    <section class="title">
        Vendas  de imóveis por províncias
    </section>
    <div class="angola-map">
        Angola map
    </div>
    <div class="province-list">
        lista de provincias
    </div>
</div> -->