.body-first-content{
    /* background-color: #fc0; */
    padding: 1rem 0rem;
}
.body-first-content > div{
    /* display: inline-block; */
    /* height: 650px; */
}
.charts{
    width: 750px;
    position: relative;
    float: left;
    /* background-color: blue; */
}
.charts > div{}
.charts .four-blocks{
    /* background-color: violet; */
}
.charts .user-status{
    padding: 20px 0px;
    margin: 20px 30px;
    /* background-color: turquoise; */
}

.recent-requests{
    float: right;
    width: 390px;
    /* background-color: #fc0; */
    padding: 20px;
}
.clearfix{
    clear: both;
}


.body-last-content{
    /* background-color: blue; */
    padding: 1rem 2rem;
    position: relative;
}