<link rel="stylesheet" href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css">

    <div class="sidebar">
<div class="sidebar">
    <div class="sidebar-brand">
        <img src="../../../assets/Imagens/2-removebg-preview.png" alt="" width="200pz">
  </div>
</div>


<div class="main-content">
<header>
    <h2>
      Imóveis
    </h2>

    <div class="search-wrapper1">
      <span class="las la-search"></span>
      <input type="search" placeholder="Pesquisar aqui">
    </div>

    <div class="user-wrapper">
      
      <img src="../assets/Icons/Grupo 12.svg" alt="" style="cursor: pointer;">
      <img src="../assets/Icons/Grupo 350.svg" width="40px" height="40px" alt="" style="cursor: pointer;">
    
  </div>
  </header>
</div>
  